@font-face {
  font-family: 'AktivGrotesk-Regular';
  src: url('../fonts/AktivGrotesk-Regular.otf');
}

@font-face {
  font-family: 'AktivGrotesk-Black';
  src: url('../fonts/AktivGrotesk-Black.otf');
}

@font-face {
  font-family: 'AktivGrotesk-Bold';
  src: url('../fonts/AktivGrotesk-Bold.otf');
}

@font-face {
  font-family: 'AktivGrotesk-Light';
  src: url('../fonts/AktivGrotesk-Light.otf');
}

@font-face {
  font-family: 'AktivGrotesk-Medium';
  src: url('../fonts/AktivGrotesk-Light.otf');
}

body {
  font-family: sans-serif;
  background-color: #ffffff;
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #ffffff;
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.08);
}
.header{
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#login-buttons {
  display: block;
  color: #0070C9;
}

.accounts-dialog {
  width: auto;
}

.login-button {
  width: 140px !important;
}



h1 {
  font-size: 16px;
  margin: 0;
  font-weight: normal;
  display: inline-block;
  margin-right: 1em;
  font-family: 'AktivGrotesk-Black';
}

.numberStudents {
  font-family: 'AktivGrotesk-Medium';
}

form {
  margin-top: 40px;
  position: relative;
}

.forms {
  margin-left: 170px;
  width: 300px;
}

.username {
  font-family: 'AktivGrotesk-Regular';
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
  background: #F0F0F0;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 0 0;
  width: 100%;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0 170px;
  padding: 0;
  background: white;
  font-family: 'AktivGrotesk-Regular';
}

.footerText {
  color: white;
  text-align: center;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  margin-top: 15px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
.login-close-text{
  color: #0070C9;
  font-size: 14px !important;
}
.accounts-dialog{
  border: 0 !important;
  box-shadow: none !important;
}
#login-buttons .login-button, .accounts-dialog .login-button{
  background: #0070C9;
  border-radius: 0;
  border: 0;
}
#login-buttons .login-button:hover, .accounts-dialog .login-button:hover{
  background: #FFF;
  color: #0070C9;
  border: 1px solid #0070C9;
}
#login-buttons input[type=text], .accounts-dialog input[type=text], #login-buttons input[type=email], .accounts-dialog input[type=email], #login-buttons input[type=password], .accounts-dialog input[type=password]{
  border-radius: 0 !important;
}
